/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

} */

/* reset.css 먼저 적용, 폰트 추가 */

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular";
}

.app-container {
  display: flex;
  flex-direction: column; /* 내부 컨텐츠 세로 정렬 */
  align-items: center; /*이걸 해줘야 가로축 가운데 정렬 가능 (flex방향 column이라서*/
  margin: 0 auto;
  min-width: 800px;
  max-width: 1200px;
}

main {
  margin: 10px;
  width: 1110px;
  /*min,max말고 이렇게 딱 정해줘야 가운데에 온다 ..*/
}

header {
  width: 1110px;
  font-family: "Pretendard-Regular"; /*적용안돼 따로 부여*/
  display: flex;
  justify-content: space-between; /*자식요소의 양 끝과 부모요소 사이의 공간을 제외한 자식요소 사이의 간격을 일정하게 벌림 */
  margin: 10px;
}

.headerTitle {
  font-size: 23px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.headerName {
  font-size: smaller;
  margin-top: 10px;
  color: slategray;
}

form {
  width: 100%;
  background-color: rgb(245, 203, 169);
  height: 70px;
  display: flex;
  justify-content: space-around; /*자식요소 기준 주위 공간을 일정 간격으로 벌림*/
  padding: 10px;
  border-radius: 15px;
}

.inputBox {
  display: flex;
}

.inputText {
  font-family: "Pretendard-Regular"; /*적용안돼 따로 부여*/
  font-size: medium;
  font-weight: bold;
  margin-right: 15px;
  margin-top: 20px;
}

input {
  height: 30px;
  font-size: 15px;
  margin-top: 15px;
}

section {
  /*설정안되는이유를 알았다, 카드가 아래로 못가서..*/
  max-height: 1000px;
  margin-top: 30px;
}

/* .workingTodoList {
  display: flex;
  justify-content: center;
} */

.list {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
  /* 최대 최소넓이는 리스트 뜨는 부분에만 적용*/
  min-width: 800px;
  max-width: 1200px;
  flex-wrap: wrap; /*필수! 카드리스트 다음 줄 이동하게 해줌*/
}

.workingTodo-box,
.doneTodo-box {
  margin-top: 20px;
  background-color: rgb(255, 248, 239);
  border: none;
  border-radius: 5px;
  width: 250px;
  min-height: 170px;
  /* 내용길어지면 길어지도록하고 최소높이는설정*/
  margin-right: 15px;
}

/*추가: hover기능 카드와 추가버튼 그림자 주기 */
.workingTodo-box:hover,
.doneTodo-box:hover,
.add-btn:hover {
  box-shadow: 0px 0px 3px 1px lightcoral;
}

.doneTodoList {
  margin-top: 50px;
}

.listTitle {
  font-size: x-large;
  font-weight: bold;
}

.todoTitle {
  font-size: large;
  font-weight: bold;
  margin: 20px;
  line-height: 1.5em;
}

.todoContent {
  margin: 20px;
  line-height: 1.5em;
  min-height: 20px;
}

.add-btn,
.del-btn,
.done-btn,
.working-btn {
  font-size: medium;
  background-color: lightyellow;
  border: 2px solid rgb(223, 173, 168);
  border-radius: 10px;
}

.add-btn {
  background-color: lightyellow;
  border: none;
  width: 150px;
  height: 40px;
  margin-top: 10px;
}

.del-btn,
.done-btn,
.working-btn {
  margin: 10px;
  width: 100px;
  height: 30px;
}

.del-btn:hover {
  background-color: rgb(250, 95, 67);
  color: white;
}

.done-btn:hover,
.working-btn:hover {
  background-color: rgb(104, 104, 250);
  color: white;
}
